[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
pydriller = "*"
trufflehog = "*"
azure-storage-blob = "*"
azure-storage-file = "*"
azure-storage-queue = "*"
azure-storage-file-share = "*"

[dev-packages]
boto3-stubs = {extras = ["sqs"], version = "*"}

[requires]
python_version = "3.9"
